*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 30px;
    font-family: serif;
    
}

html {
    scroll-behavior: smooth;
}

.container{
    width: 100%;
    height: 130px;
    background-color: rgb(47, 240, 240);
}